@page
@{
    ViewData["Title"] = "restaurant not found";
}

<h2>The restaurant you are looking for was not found</h2>
<a asp-page="./List">
    <input type="submit" value="Back to Restaurants" />
</a>